*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-white);
  font: var(--default-font);
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  color: #000000;
  font-family: inherit;
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
