:root {
  //Fonts
  --default-font: normal 400 16px/16px "Lato", sans-serif;

  //Colors
  --color-white: #ffffff;
  --color-black: #333333;
  --color-primary: #4CAF50;
  --color-primary-hover: #A9E7AB;
  --color-grey: #666666;
  --color-light-grey: #DEDEDE;
}